html {
	position: relative;
	overflow-y: scroll;
	min-height: 100%;
}

select.form-control {
	display: inline;
	width: 100px;
	height: 30px;
}

header, footer {
	width: 100%;
	text-align: center;
	clear: both;
}

footer {
	position: absolute;
	bottom: 60px;
	left: 0px;
	height: 50px;
}

tr {
	cursor: pointer;
}

tr:hover{
	background-color: #EDEDED;
}

.backgrid .string-cell:before{
	content: '+ ';
	font-size: 150%;
	vertical-align: middle;
}

#pho-list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.container {
	height: 100%;
	margin:0 auto 50px;
	max-width: 580px;
	-webkit-animation-duration: 0.8s;
  	-moz-animation-duration: 0.8s;
}

#table-view {
	padding: 15px 0px;
	height: 100%;
	width: 100%;
}

#search-view {
	min-height: 40px;
}

#new-search-address {
	width: 100%;
	margin: auto;
}

#search-status {
	text-align: center;
}

#search-options{
	text-align: center;
}

#new-search-age {
	margin: auto;
	width: 50px;
	-webkit-animation-duration: 0.2s;
  	-moz-animation-duration: 0.2s;
}

#new-search-address {
	-webkit-animation-duration: 0.2s;
  	-moz-animation-duration: 0.2s;
}

#expanded-view {
	background-color: lightblue;
	width: 350px;
	height: auto;
	padding: 10px;
  	-webkit-animation-duration: 0.4s;
  	-moz-animation-duration: 0.4s;
}

#map_canvas {
	height: 330px;
	margin: auto;
	background-color:black;
}

.hover-glow {
	background-color: lightblue !important;
	transition: background .4s linear;
	-webkit-transition-duration: 0.4s;
  	-moz-transition-duration: 0.4s;
}

.open{
  	color: #428bca;
	cursor: pointer;
}
.open:hover{
	cursor: pointer;
	text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}