select.form-control {
	display: inline;
	width: 100px;
	height: 30px;
}

header, footer {
	width: 100%;
	text-align: center;
	clear: both;
}

.container {
	margin:0 auto;
	width: 600px;
}

#new-search-address {
	width: 100%;
	margin: auto;
}

#search-status {
	text-align: center;
}

#search-options{
	text-align: center;
	margin: auto;
}

#new-search-age {
	margin: auto;
	width: 50px;
}

#table-view {
	padding: 15px;
}

#expanded-view {
	background-color: lightblue;
	width: 350px;
	height: 500px;
	padding: 10px;
}

#map_canvas {
	height: 330px;
	margin: auto;
	background-color:black;
}

.hover-glow {
	background-color: lightblue;
}

.open {
  	color: #428bca;
	cursor: pointer;
}
.open:hover{
	cursor:pointer;
}